$white: #fff;
$bg: #f8f8ff;
$color-primary: #02182b;
$color-secondary: rgb(65, 64, 64);
$color-tertiary: rgb(134, 133, 133);
$color-accent: #44bac4;
$font-primary: 'Montserrat', sans-serif;
$default-font-size: 1.5rem;
$caption-font-size: 1.1rem;
$small-font-size: 1.3rem;

//MEDIA QUERIES
@mixin respond($breakpoint) {
  @if $breakpoint == xsphone {
    @media only screen and (max-width: 25em) {
      @content;
    } //400px
  }
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px
  }
  @if $breakpoint == tab-collapse {
    @media only screen and (max-width: 65.62em) {
      @content;
    } //1050px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  background-color: $bg;
  color: $color-primary;
  font-family: $font-primary;
  line-height: 1.5;
  padding: 10rem;
  @include respond(tab-land) {
    padding: 7rem;
  }
  @include respond(tab-port) {
    padding: 6rem;
  }
  @include respond(phone) {
    padding: 3rem;
  }
}

//NAVBAR
.navbar {
  display: flex;
  justify-content: space-between;
  font-size: $default-font-size;
  @include respond(phone) {
    flex-direction: column;
    align-items: flex-end;
  }
  &__logo {
    width: 5rem;
    border-radius: 50%;
  }
  &__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    @include respond(phone) {
      padding-top: 1rem;
    }
  }
  &__item {
    &:not(last-child) {
      margin-right: 1.5rem;
    }
  }
  &__link {
    &:link,
    &:visited {
      display: inline-block;
      text-decoration: none;
      color: $color-primary;
      transition: all 0.4s;
    }
    &:hover,
    &:active {
      color: $color-accent;
    }
    &--envelope {
      font-size: 2rem;
    }
  }
}

//SECTIONS
.header {
  height: 25rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: right;
}
.section-about {
  padding: 12rem 0;
}
.section-projects {
  padding: 12rem 0;
}

//ABOUT SECTION FLEX GRID
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  @include respond(tab-collapse) {
    flex-direction: column;
  }
}
.column {
  flex: 1;
  &:not(:last-child) {
    margin-right: 9rem;
  }
  @include respond(tab-collapse) {
    padding: 1.5rem 0;
    text-align: right;
    &:not(:last-child) {
      margin-right: 0;
    }
  }
}

//CONTACT BLOCK
.contact-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(
    to right,
    rgba(226, 191, 245, 0.7),
    rgba(189, 188, 248, 0.7)
  );
  background-color: darken($bg, 2);
  padding: 2rem;
  border-radius: 12px;
  &__link {
    text-decoration: none;
    color: $color-primary;
  }
  &--envelope {
    font-size: 3rem;
    transition: all 0.4s;
    margin: 1rem 0 0.5rem 0;
    &:link,
    &:visited {
      display: inline-block;
      text-decoration: none;
      color: $color-primary;
    }
    &:hover,
    &:active {
      color: $color-accent;
    }
  }
}

//CARDS FLEX GRID
.cards-container {
  display: flex;
  flex-wrap: wrap;
}
.cards-block {
  display: flex;
  padding: 2rem;
  width: 33.3333%;
  @include respond(tab-collapse) {
    width: 50%;
  }
  @include respond(tab-port) {
    padding: 1rem;
  }
  @include respond(phone) {
    width: 100%;
    padding: 3rem;
  }
  @include respond(xsphone) {
    padding: 1rem;
  }
}

.card {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  background-color: $white;
  border-radius: 4px;
  &__img {
    max-width: 100%;
    height: auto;
    opacity: 0.7;
    transition: all 0.2s ease-in;
    &:hover {
      opacity: 1;
    }
  }
  &__details {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: flex-end;
    padding: 2rem 0;
    text-align: right;
  }
  &__title {
    color: $color-secondary;
    font-size: $default-font-size;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  &__subtitle {
    font-size: $default-font-size;
    font-weight: 500;
  }
  &__lang-text {
    font-size: $caption-font-size;
    color: lighten($color-secondary, 30);
  }
  &__text {
    flex: 1 1 auto;
    font-size: $small-font-size;
    margin-top: 1.25rem;
  }
}

//BUTTONS
.btn-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  @include respond(xsphone) {
    flex-direction: column;
    align-items: center;
  }
}
.btn {
  &:link,
  &:visited {
    border: 1px solid $color-tertiary;
    border-radius: 12px;
    background-color: $bg;
    color: $color-secondary;
    padding: 1.2rem;
    width: 48%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: $small-font-size;
    text-align: center;
    text-decoration: none;
    box-shadow: 3px 3px 3px lighten($color-secondary, 55);
    transition: all 0.2s ease-in;
    @include respond(xsphone) {
      width: 100%;
      border-radius: 8px;
      margin-top: 2rem;
    }
  }
  &:hover,
  &:active {
    background-color: lighten($bg, 5);
    color: lighten($color-secondary, 15);
    box-shadow: 3px 3px 3px lighten($color-secondary, 63);
  }
}

//TYPOGRAPHY
.heading-primary {
  font-weight: 700;
  font-size: 2.5rem;
}
.paragraph {
  font-size: $default-font-size;
  color: $color-secondary;
  @include respond(phone) {
    font-size: 50%;
  }
}
.bold {
  font-weight: 700;
}
hr {
  margin: 5px 0;
  height: 1px;
  color: lighten($color-secondary, 50);
  background-color: lighten($color-secondary, 50);
  border: 0;
  width: 80%;
}

//UTILITIES
.margin-top-s {
  margin-top: 4rem;
  @include respond(xsphone) {
    margin-top: 2rem;
  }
}
.margin-top-md {
  margin-top: 10rem;
}

//FOOTER
.footer {
  padding-top: 12rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
